* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 96%;
  width: 100%;
}

h1 {
  font-size: 3em;
}

footer {
  display: flex;
  justify-content: center;
  height: 4%;
  width: 100%;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 5%;
}