.navbar {
  display: flex;
  margin: 0 auto;
  width: 80%;
}

h1 {
  background: linear-gradient(135deg, #3b82f6, #06b6d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-style: italic;
  font-weight: 900;
}