:root {
  font-family: "Open Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #fff;
  background: radial-gradient(
    ellipse 150% 90% at 50% 100%, 
    #FBF9FF, 
    #1268bc, 
    #252422
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}
