:root {
  font-family: "Open Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #fff;
  background: linear-gradient(135deg, #0a0e27 0%, #1e3a5f 50%, #0f1c3f 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}
